/*stylesheet for the about page*/

@media only screen and (max-width: 520px){
    body {
        background-color: white;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: auto;
    }
    
    .container{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas: "name name name"
                            "info info info"
                            "footer footer footer";
    }

    .footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "copyright icons";
        background-color: rgb(54, 53, 53);
        margin-top: 10%;
        font-size: 0.5em;
        
    }

    .icons{
        margin: 2%;
    }
}

@media only screen and (min-width: 521px){
    body {
        background-color: white;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: auto;
    }
    
    .container{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas: "name name name"
                            ". info ."
                            "footer footer footer";
    }

    .info{
        margin-bottom: 30%;
    }

    .footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "copyright icons";
        background-color: rgb(54, 53, 53);
        margin-top: 5%;
        font-size: 0.75em;
    }

    .icons{
        margin: 4%;
    }
}

@media only screen and (min-width: 725px){
    body {
        background-color: white;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: auto;
    }
    
    .container{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas: "name name name"
                            ". info ."
                            "footer footer footer";
    }

    .info{
        margin-bottom: 0%;
    }

    .footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "copyright icons";
        background-color: rgb(54, 53, 53);
        font-size: 1em;
        margin-top: 0%;
    }

    .icons{
        margin: 0;
    }
}

.name {
    grid-area: name;
    text-align: center;
}

.name h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 3em;
}

.name a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 3%;
    font-family: 'Cabin', sans-serif;
    color: black;
}

.name a:hover, a.active {
    color: teal;
}

.info{
    grid-area: info;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 5%;
}

.info h1{
    background-color: black;
    color: white;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 4%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    font-family: 'Cousine', monospace;
}

.info .pic{
    height: 50%;
    width: 60%;
    border: 4px solid black;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "copyright icons";
    background-color: rgb(54, 53, 53);
    margin-bottom: 3%;
}

.copyright {
    grid-area: copyright;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Cabin', sans-serif;
}

.icons {
    grid-area: icons;
    cursor: pointer;
    text-align: left;
    width: 15%;
    font-size: 3em;
    color: rgb(22, 20, 20);
    padding-top: 7.5%;
}

span{
    margin-left: 35%;
}

.icons:hover{
    color: white;
}